doctype html
html(lang='en')
  head
    title User directories
  body  
    h1 File Server
    h2
      |Files for user&nbsp;
      span(style='color:blue;') #{user}
    hr
    h3
      |Current directory:&nbsp;
      span(style='color:green') #{cdir}&nbsp;
      if cdir !== '\\'
        a(href=`${base}/dir/back/${user}`) back
        br
        a(href=`${base}/users/${user}`) (home)
    hr
    table(border='1')
      tr
        th Type
        th(style='width:100px') Name
        th Operations
      each file in files
        tr
          td #{file.type}
          td #{file.name}
          td
            if file.type === 'directory'
              a(href=`${base}/dirs/${file.name}/${user}`) open
            else
              a(href=`${base}/files/${file.name}/${user}`) read